
<div class="card sticky top-0 z-50">
    <div class="flex items-center justify-between">
        <div class="flex gap-2">
            <p-menubar [model]="menuItems">
                <ng-template pTemplate="start">
                    <img src="/assets/imgs/libros3D.png" height="40" class="mr-2" />
                </ng-template>
            </p-menubar>
        </div>
    
        @if (this.profileData) {
            <div class="flex flex-col items-center justify-center mr-6">
                <span>{{ profileData.email }}</span>
                <span>{{ role() }}</span>
            </div>
        }
    
        <div class="flex flex-row gap-x-4 items-center">
            <p-autoComplete
                [(ngModel)]="searchQuery"
                [suggestions]="items"
                (input)="onFilterChange()"
                [minLength]="3"
                field="name"
                (onSelect)="onItemSelect($event)"
                (keyup.enter)="onSearch()"
            ></p-autoComplete>
            <p-button severity="icon" (click)="onSearch()">
                <i class="pi pi-search"></i>
            </p-button>
        </div>
    </div>

</div>