.headerContainer {
    padding: 300px 0;
    margin: 0 0 40px 0;
    width: auto;
    height: auto;
    background-image: url('/assets/imgs/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bentoBox {
    flex-grow: 1;
    align-self: stretch;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 60px;
    margin: 0 0 20px 0;
    background-color: rgba(221, 221, 220, 0.50);
    border: 1px solid rgba(221, 221, 220, 0.50);
    border-radius: 8px;
    box-shadow: 0 5px 20px #eeeeee98;
}

.error {
    color: red;
    display: none;
    text-align: center;
}

.error.invalid {
    display: block;
}

:host::ng-deep .ng-invalid .p-inputtext {
    border-color: red;
}

label.invalid {
    color: red;
}

h2 {
    text-wrap: wrap;
}