.error {
    color: red;
    display: none;
    text-align: center;
}

.error.invalid {
    display: block;
}

:host::ng-deep .p-inputtext.p-component.p-element.p-password-input.p-filled {
    border-color: red;
}

label.invalid {
    color: red;
}