<main class="h-screen flex flex-col justify-center items-center">
    <h2 class="mb-10">Modifica la contrasenya</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center items-center gap-8">
        <span class="p-float-label">
            <p-password
                name="password"
                autocomplete="new-password"
                [toggleMask]="true"
                [class]="{'ng-invalid ng-dirty': invalidPassword}"
                promptLabel="Introdueix la nova contrasenya"
                weakLabel="Insegura"
                mediumLabel="Bàsica"
                strongLabel="Molt segura"
            >
                <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="mt-2">Requisits</p>
                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                        <li>Mínim una lletra majúscula</li>
                        <li>Mínim una lletra minúscula</li>
                        <li>Mínim un número</li>
                        <li>Mínim un caràcter especial</li>
                        <li>Mínim 8 caràcters</li>
                        <li>Màxim 16 caràcters</li>
                    </ul>
                </ng-template>
            </p-password>
            <label [class]="{'invalid': invalidPassword}" for="password">Nova contrasenya</label>
        </span>
        <span class="p-float-label">
            <p-password
                name="repeatPassword"
                autocomplete="new-password"
                [feedback]="false"
                [toggleMask]="true"
                [class]="{'ng-invalid ng-dirty': invalidPassword}"
            ></p-password>
            <label [class]="{'invalid': invalidPassword}" for="repeatPassword">Repetir contrasenya</label>
        </span>

        <p class="error" [class]="{'invalid': invalidPassword}">{{ errorMessage }}</p>

        <p-button
            label="Modificar contrasenya"
            styleClass="p-button-rounded"
            severity="fill"
            type="submit"
            [style]="{ width: 'fit-content' }"
        ></p-button>
    </form>
</main>
