<div class="homeContainer">
    <div class="headerContainer flex flex-col items-center justify-center text-center">
        <header class="w-4/5">
            <div class="flex flex-col items-center justify-center ">
                <a [routerLink]="['/inici']"><h1>BIBLIOTECA MARI CARMEN BRITO</h1></a>
            </div>
        </header>
    </div>

    <div class="grid grid-cols-2 px-10 mb-40 justify-center gap-x-20">
        <div class="bentoBox">
            <app-item-searcher></app-item-searcher>
        </div>

        <div class="bentoBox">
            <app-login [popupVisible]="popupVisible"></app-login>
        </div>
    </div>
</div>