.homeDivsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 100px 0;
    gap: 50px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label[for="binary"] {
    font-size: 14px;
    font-weight: 500;
    color: #556958;
}

@media only screen and (max-width: 375px) {
    .homeDivsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
}
    

@media only screen and (max-width: 811px) {
    .homeDivsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
    }
}