.bentoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

img {
    width: 210px;
    height: 310px;
    transition-duration: 1s;
    border: 1px solid #556958;
    border-radius: 8px;
}

img:hover {
    transition-duration: 1s;
    transform: scale(1.1);
    box-shadow: 1px 1px 10px #b4b4b4;
}