<div class="bentoBox">
    <div class="headerCard">
        <a [routerLink]="'/detall-llibre'">
            <article>
                <div class="flex flex-row justify-between">
                    <h2>Títol llibre</h2>
                    <p class="font-medium">Estat: Estat</p>
                </div>
                <p>Autor</p>
                <p>SínopsisSínopsisSínopsisSínopsisSínopsisSínopsis
                    SínopsisSínopsisSínopsisSínopsisSínopsisSínopsis
                    SínopsisSínopsisSínopsisSínopsisSínopsisSínopsis
                    SínopsisSínopsisSínopsisSínopsisSínopsisSínopsis
                </p>
            </article>
        </a>
    </div>
</div>