<div class="headerContainer flex flex-col items-center justify-center text-center">
    <header class="w-4/5">
        <div class="flex flex-col items-center justify-center ">
            <a [routerLink]="['/inici']"><h1>BIBLIOTECA MARI CARMEN BRITO</h1></a>
        </div>
    </header>
</div>

<div class="flex flex-col items-center justify-center gap-y-4 m-10">
    <div class="confCompteContainer">
        <div class="flex justify-between items-center w-full">
            <div class="flex flex-row items-center">
                @if (profileData) {
                    <div class="profileImag flex justify-center" (click)="fileInput.click()">
                        <input type="file" accept="image/*" (change)="onFileSelected($event)" #fileInput style="display: none" />
                        <div class="image-overlay"></div>
                        <img [src]="profileImage" alt="Imate de perfil"/>
                        <i class="pi pi-pencil edit-icon"></i>
                    </div>
                }

                <div class="flex flex-col items-start">
                    <p class="font-bold">IETI</p>
                    <p>{{roleName}}</p>
                </div>
            </div>
            <div>
                <p-button (click)="isEditing = !isEditing" severity="fill">
                    @if (isEditing) {
                        <i class="pi pi-times mr-2"></i>Cancelar
                    } @else {
                        <i class="pi pi-pencil mr-2"></i>Editar
                    }
                </p-button>
            </div>
        </div>
        

        <div class="edicioCompteContainer">
            <div class="flex flex-row gap-x-20 justify-between items-center">
                <div class="flex flex-col">
                    <h3>Nom</h3>
                    @if (!isEditing && profileData) {
                        <p>{{profileData.name}} {{profileData.surname}} {{profileData.surname2}}</p>
                    } @else {
                        <div class="flex flex-col gap-2">
                            <input pInputText [(ngModel)]="newName" placeholder="Nom" styleClass="w-1/2">
                            <input pInputText [(ngModel)]="newSurname" placeholder="Primer cognom" styleClass="w-1/2">
                            <input pInputText [(ngModel)]="newSurname2" placeholder="Segon cognom" styleClass="w-1/2">
                        </div>
                    }
                </div>
            </div>              

            <div class="flex flex-row gap-x-20 justify-between items-center">
                <div class="flex flex-col">
                    <h3>Contrasenya</h3>
                    @if (!isEditing && profileData) {
                        <p>************</p>
                    } @else {
                        <div class="flex flex-col gap-2">
                            <p-password
                                [(ngModel)]="lastPassword"
                                placeholder="Contrasenya actual"
                                name="password"
                                id="password"
                                autocomplete="off"
                                [feedback]="false"
                                [toggleMask]="true"
                                [style]="{'width':'100%', 'height':'3rem'}"
                                [inputStyle]="{'width':'100%'}"
                            ></p-password>
                            <p-password
                                [(ngModel)]="password"
                                placeholder="Nova contrasenya"
                                name="password"
                                id="password"
                                autocomplete="off"
                                [feedback]="false"
                                [toggleMask]="true"
                                [style]="{'width':'100%', 'height':'3rem'}"
                                [inputStyle]="{'width':'100%'}"
                            ></p-password>
                            <p-password
                                [(ngModel)]="repeatPassword"
                                placeholder="Repetir contrasenya"
                                name="password"
                                id="password"
                                autocomplete="off"
                                [feedback]="false"
                                [toggleMask]="true"
                                [style]="{'width':'100%', 'height':'3rem'}"
                                [inputStyle]="{'width':'100%'}"
                            ></p-password>
                        </div>
                    }
                </div>
            </div>

            <div class="flex flex-row gap-x-20 justify-between items-center">
                <div class="flex flex-col">
                    <h3>Correo</h3>
                    <p>{{profileData.email}}</p>
                </div>
            </div>  

            <div>
                <div class="flex flex-col">
                    <h3>Nom d'usuari</h3>
                    <p>{{profileData.username}}</p>
                </div>
            </div>

            <div>
                <div class="flex flex-col">
                    <h3>Centre</h3>
                    <p>{{profileData.center}}</p>
                </div>
            </div>

            <div>
                <div class="flex flex-col">
                    <h3>DNI / NIE</h3>
                    <p>{{profileData.dni}}</p>
                </div>
            </div>

            <div>
                <div class="flex flex-col">
                    <h3>Data de neixament</h3>
                    <p>{{profileData.date_of_birth}}</p>
                </div>
            </div>

            <div>
                <div class="flex flex-col">
                    <h3>Rol</h3>
                    @if (profileData.role == Role.ADMIN) {
                        <p>ADMINISTRADOR</p>
                    }
                    @else if (profileData.role == Role.BIBLIO) {
                        <p>BIBLIOTECÀRIA</p>
                    }
                    @if (profileData.role == Role.USER) {
                        <p>USUARI</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-row items-center gap-x-4">
        <p-button severity="min" [routerLink]="['/dashboard']">Tornar</p-button>
        @if (isEditing) {
            <p-button severity="dangeroutlined" (click)="cancelChanges()">Cancel·lar</p-button>
            <p-button (click)="saveChanges()" severity="fill-rounded">Guardar canvis</p-button>
        }
    </div>
</div>