@if (profileData) {
    <div class="headerContainer flex flex-col items-center justify-center text-center">
        <header class="w-4/5">
            <div class="flex flex-col items-center justify-center ">
                <a [routerLink]="['/inici']"><h1>BIBLIOTECA MARI CARMEN BRITO</h1></a>
            </div>
        </header>
    </div>
    
    <body class="flex flex-col px-10 mb-40 justify-center items-center gap-x-20 w-full">
  
        <div class="dasboardContainer">
            <app-item-searcher></app-item-searcher>


            @if (role === Role.ADMIN || role === Role.BIBLIO) {
                <div class="flex flex-col gap-8 items-center">
                    <p-button
                    label="CREA UN NOU ALUMNE"
                    styleClass="p-button-rounded"
                    severity="fill"
                    routerLink="/creacio-usuari"
                    [style]="{'width': 'fit-content'}"
                ></p-button>
                <p-button
                    label="IMPORTA USUARIS"
                    styleClass="p-button-rounded"
                    severity="fill"
                    routerLink="/importacio-usuaris"
                    [style]="{'width': 'fit-content'}"
                ></p-button>

                <p-button
                    label="PERFIL"
                    styleClass="p-button-rounded"
                    severity="fill"
                    routerLink="/perfil"
                    [style]="{'width': 'fit-content'}"
                ></p-button>

                <p-button
                    label="USUARIS"
                    styleClass="p-button-rounded"
                    severity="danger"
                    routerLink="/llista-usuaris"
                ></p-button>
                </div>
            }

            <div class="estatContainer">
                <h2>Estat del compte</h2>
                
                <hr>
                
                <p-button
                    label="Tancar sessió"
                    styleClass="p-button-rounded"
                    severity="danger"
                    (click)="_profileService.logout()">
                </p-button>
            </div>
        </div>
    </body>
}