@if (profileData) {
    <div class="headerContainer flex flex-col items-center justify-center text-center">
        <header class="w-4/5">
            <div class="flex flex-col items-center justify-center ">
                <a [routerLink]="['/inici']"><h1>BIBLIOTECA MARI CARMEN BRITO</h1></a>
            </div>
        </header>
    </div>
    
    <body class="flex flex-col px-10 mb-40 justify-center items-center gap-x-20 w-full">
  
        <div class="flex flex-row gap-24 mt-10">
            <app-item-searcher></app-item-searcher>


            @if (role === Role.ADMIN || role === Role.BIBLIO) {
                <div class="flex flex-col gap-8 items-center">
                    <p-button
                    label="CREA UN NOU ALUMNE"
                    styleClass="p-button-rounded"
                    severity="fill"
                    routerLink="/creacio-usuari"
                    [style]="{'width': 'fit-content'}"
                ></p-button>
                <p-button
                    label="IMPORTA USUARIS"
                    styleClass="p-button-rounded"
                    severity="fill"
                    routerLink="/importar-usuaris"
                    [style]="{'width': 'fit-content'}"
                ></p-button>

                <p-button
                    label="PERFIL"
                    styleClass="p-button-rounded"
                    severity="fill"
                    routerLink="/perfil"
                    [style]="{'width': 'fit-content'}"
                ></p-button>

                <p-button
                    label="USUARIS"
                    styleClass="p-button-rounded"
                    severity="fill"
                    routerLink="/llista-usuaris"
                    [style]="{'width': 'fit-content'}"
                ></p-button>
                </div>
            }
            <p-button
                label="SORTIR"
                styleClass="p-button-rounded"
                severity="fill"
                (click)="_profileService.logout()"
                [style]="{'width': 'fit-content', 'background': 'red'}"
        ></p-button>
        </div>
       
    </body>
}