:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: #59B468;
    color: white;
    text-align: center;
}
:host ::ng-deep .p-datatable .p-datatable-thead tr th:first-child {
    border-radius: 15px 0 0 0;
}
:host ::ng-deep .p-datatable .p-datatable-thead tr th:last-child {
    border-radius: 0 15px 0 0;
}
:host ::ng-deep .p-datatable .p-sortable-column .p-sortable-column-icon {
    color: white;
}
:host ::ng-deep .p-datatable .p-paginator-bottom {
    background-color: #F1F6F6;
    border: none;
}
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
}