.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bentoBox img {
    width: 400px;
    height: 600px;
}

label {
    font-weight: 800;
    font-size: 14px;
    color: #556958;
}

:host ::ng-deep .p-panel {
    display: flex;
    flex-direction: column;
    padding: 20px;
}