<div class="headerContainer flex flex-col items-center justify-center text-center">
    <header class="w-4/5">
        <div class="flex flex-col items-center justify-center ">
            <a [routerLink]="['/inici']"><h1>BIBLIOTECA MARI CARMEN BRITO</h1></a>
        </div>
    </header>
</div>

<div class="panelAcordeon">
    <form [formGroup]="configuracionAcordeon" (ngSubmit)="sendconfiguracionAcordeon()" class="flex flex-row gap-4 justify-center">
        <div class="w-2/4">
            <p-panel formGroupName="cercaAvancadaAcordeon" [collapsed]="panels['cercaAvancadaAcordeon']" (collapsedChange)="detectPanelChanges($event, 'cercaAvancadaAcordeon')" [toggleable]="true" expandIcon="pi pi-chevron-up" collapseIcon="pi pi-chevron-down">
                <ng-template pTemplate="header">
                    <div class="header-menu flex flex-row gap-2">
                        <span class="font-bold">Cerca avançada</span>
                    </div>
                </ng-template>


                <div class="flex flex-col items-center justify-start gap-x-20 w-full">    
                    <div class="grid grid-cols-3 gap-4 items-center">
                        <div class="flex flex-col items-start">
                            <label for="inputTitol">Títol</label>
                            <input type="text" id="inputTitol" pInputText />
                        </div>

                        <div class="flex flex-col items-start">
                            <label for="inputAutorArtista">Autor/artista</label>
                            <input type="text" id="inputAutorArtista" pInputText />
                        </div>

                        <div class="flex flex-col items-start">
                            <label for="materiaInput">Matèria</label>
                            <input type="text" id="materiaInput" pInputText />
                        </div>

                        <div class="flex flex-col items-start">
                            <label for="tipusDeMaterial">Tipus de material</label>
                            <input type="text" id="tipusDeMaterial" pInputText />
                        </div>

                        <div class="flex flex-col items-start">
                            <label for="inputLlengua">Llengua</label>
                            <input type="text" id="inputLlengua" pInputText />
                        </div>

                        <div class="flex flex-col items-start">
                            <label for="inputAny">Any:</label>
                            <input type="text" id="inputAny" pInputText />
                        </div>
                        
                        <div class="flex flex-row items-end gap-x-4">
                            <div class="flex flex-col items-start">
                                <form [formGroup]="formGroup">
                                    <label for="selectOrdenarPer">Ordenar per</label>
                                    <p-selectButton id="selectOrdenarPer" [options]="stateOptions" formControlName="value" optionLabel="label" optionValue="value"></p-selectButton>
                                </form>
                            </div>

                            <div class="flex flex-col items-start">
                                <p-button severity="icon">
                                    <i class="pi pi-search"></i>
                                </p-button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
    </form>
</div>

<div class="searchContainer">
    <div class="grid grid-cols-3 px-10 mb-40 justify-center gap-x-20">
        <ng-container *ngFor="let book of books">
            <app-libros 
                [bookImg]="book.image">
            </app-libros>
        </ng-container>
    </div>
</div>