.headerContainer {
    padding: 300px 0;
    margin: 0 0 40px 0;
    width: auto;
    height: auto;
    background-image: url('/assets/imgs/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bentoBox img {
    width: 400px;
    height: 600px;
}

label {
    margin: 40px 0 4px 0;
    font-weight: 800;
    font-size: 14px;
    color: #556958;
}

:host ::ng-deep .p-panel {
    display: flex;
    flex-direction: column;
    margin: 0 0 40px 0;
}