.cardUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset {
    padding: 40px;
    border: 1px solid #59b4684e;
    border-radius: 8px;
}

legend {
    font-size: 20px;
    font-weight: 700;
    color: #59B468;
}

label {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 14px;
    color: #556958;
}

.error {
    color: red;
    display: none;
    text-align: center;
}

.error.invalid {
    display: block;
}

:host::ng-deep .ng-invalid .p-inputtext,
.p-inputtext.ng-invalid {
    border-color: red;
}

label.ng-invalid {
    color: red;
}

.confCompteContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 40px;
    height: auto;
    align-items: start;
    justify-content: center;
    justify-self: center;
    background-color: #C6EDCC;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.edicioCompteContainer {
    width: 100%;
    display: flex;
    padding: 35px;
    margin: 20px 0 0 0;
    flex-direction: column;
    gap: 50px;
    justify-content: space-around;
    align-items: stretch;
    border-radius: 10px;
    background-color: rgba(251, 255, 251, 0.7);
}